{% extends "own/base.html"%}
{% block title %} Register {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<body align="center">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<div class="container">
<form method="POST" action="/register/">
{{ form|crispy }}
{% csrf_token %}
<button type="submit"  class="btn btn-success">Register</button>
<a href="/login" class="btn btn-success">Sign in <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a>
</form>
</div>
</body>
{% endblock %}